<div id="demo" class="bg-gray-50 py-12 sm:py-16">
  <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
    <div class="w-full flex justify-baseline flex-col items-right">
      <h2 class="text-left text-xl font-semibold text-sky-600">Visión, impacto, propósito</h2>
      <p class="text-left mt-2 max-w-lg text-4xl font-semibold tracking-tight text-gray-950 sm:text-5xl">
        Conoce la historia detrás de Healthy
      </p>
    </div>
    <div class="mt-10 aspect-video relative rounded-xl bg-[radial-gradient(circle_at_center,_#f0f9ff,_#ffffff)] border border-gray-300 shadow-lg transition-shadow duration-500 ease-in-out hover:shadow-xl ring-8 ring-gray-100">
      <iframe
        class="absolute top-0 left-0 w-full h-full rounded-xl"
        src="https://www.youtube.com/embed/TufOXb39qF0"
        title="Demo de Healthy"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
  </div>
</div>