

<footer id="footer" class="bg-white rounded-lg">
  <div class="w-full max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center">© 2025 <a href="#" class="hover:underline">Healthy</a>. Todos los derechos reservados.</span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 sm:mt-0">
      <li>
        <a href="#about" class="hover:underline me-4 md:me-6">Nosotros</a>
      </li>
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Política de privacidad</a>
      </li>
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Términos de uso</a>
      </li>
      <li>
        <a href="#contact" class="hover:underline">Contacto</a>
      </li>
    </ul>
  </div>
</footer>
