---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
// Declaramos props con valor por defecto
const { title = "Healthy" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="https://i.ibb.co/4RyW0QHM/Dise-o-sin-t-tulo-3.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body class="flex flex-col scroll-smooth">
		<slot />
	</body>
</html>
